@import './variables';
.sidebar-right {
    border-left: 0.1px solid $grey;
    width: 455px;
    padding-top: 19px;
    padding-left: 40px;
    display:flex;
    flex-direction: column;
    gap: 19px;
  }
.button-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: 1px solid $grey;
    padding: 13px;
    border-radius: 28px;
    width: 80%;
    cursor:pointer;
    svg{
        margin-left: 5px;
        fill:white;
        display:flex;
        width: 15px;
        height: 15px;
    }
    span{
        margin-left: 5px;
        color: white;
        font-weight: 400;
    }
    
}
.subscribe-panel{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 13px;
    border-radius: 15px;
    border: 1px solid $grey;
    width: 80%;
    gap:12px;
    
    > *{
        margin-left:10px; //applys margin to direct children
    }
    

    .subscribe-header{
        font-weight: 900;
        font-size: 22px;
    }
    .subscribe-button{
        background-color: #1d9bf0;
        padding:10px;
        border-radius: 28px;
        color:white;
        width:40%;
        font-weight: 700;
        cursor:pointer;
    }
}

.whats-happening{
    display:flex;
    flex-direction: column;
    padding: 13px;
    border-radius: 15px;
    border: 1px solid $grey;
    width: 80%;
    gap:20px;
    .heading{
        color: white;
        font-size: x-large;
        font-weight: bolder;
    }

    .news-item{
        .content{
            color:white;
            display: flex;
            img{
                height: 80px;
                width: 80px;
                border-radius: 28px;
            }
            .topic{
                .title{
                    font-weight: 700;
                }
                .caption{
                    margin-top:4px;
                    font-size: 14px;
                    color:$caption;
                }
            }
        }
    }
    .show-more{
        color: #1d9bf0;
        font-weight: bold;
    }
}

.trending-items{
    display: flex;
    flex-direction: column;
    gap: 25px;
    .trending-block{
        color:white;
        font-size: medium;
        display: flex;
        flex-direction: row;
        .content{
            display:flex;
            flex-direction: column;
            gap:5px;
            .caption{
                color: $caption;
            }
            .title{
                font-weight: 700;
            }
        }
    }

}

.follow {
    display: flex;
    flex-direction: column;
    padding: 13px;
    border-radius: 15px;
    border: 1px solid $grey;
    width: 80%;
    
    .heading {
        color: white;
        font-size: larger;
        font-weight: bolder;
        margin-bottom: 16px;
    }
    
    .button-profile {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 10px;
        color: white;
        margin-left: 0; 
        margin-top: -10px;

        button{
            border-radius: 28px;
            padding: 5px 30px;
            background-color: white;
            color: black;
            margin-left: 110px;
        }
    }
}
